# ---------- Python ----------
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# ---------- conda ----------
.venv/
venv/
env/

# ---------- 数据与产物----------
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

artifacts/*
!artifacts/.gitkeep

# ---------- 环境变量----------


# ---------- IDE / 系统 ----------
.idea/
.vscode/
.DS_Store
Thumbs.db
